
/*** Body ***************************************************************/
body {
    margin:0;
    padding:0;
    border:0;
    font-size: 10px;
}

/************************************************************************/

/*** Navbar *************************************************************/

#navbar {
	height:10.5em;
    background-color:hotpink;
    /*text-align:left;*/
}

.container {
	padding: 0;
	width: 97%;
}

#header {
	height: 10.5em;
}

#icon {

	padding: 2.2em 0;
	height: 10.5em;
}

/*#header {
	width:100%;
	height:105px;
    background-color:hotpink;
    text-align:left;    
}*/

/* Header's tittle */
#navbar h1 {
	margin:0;
		font-size:4.5em;
		font-family:cursive;
/* 		color:black;
		position:relative;
		top:20px;
		left:8%;*/
}

#logInPost button {
	float: right;
	width: 40%;
	margin: 0.6em 0.5em;
}
/************************************************************************/

/*** Navigation bar *****************************************************/
#navigation {
	float:left;
	width:20%;
	height:750px;
	background-color:gray;
	margin-left:5%;
}
	
	/* Calendar */
	table {
		width:95%;
		margin-right:2%;
		margin-left:2%;
		margin-top:15%;
		margin-bottom:15%;
	}

	table, th, td {
    	border:1px solid black;
    	border-collapse:collapse;
   		background-color:white;
   		padding:3px;
	}

	th#month {    
    	background-color:blue;
	}

	th.days {    
    	background-color:yellow;
	}

	/* Sections */
	#navigation ul {
		list-style-type:none;
		background-color:gray;
		text-align:left;
	}

	#navigation p {
		font-size:22px;
		font-weight:bold;
		color:black;
		line-height:50px;
		background-color:hotpink;
		margin:0;
		position:relative;
		left:-9%;
	}

	/* Shadow */
	p#shadow { 
		background-color:white;
	}
/************************************************************************/

/*** Main section with the content **************************************/
#main {
	float:left;
	width:70%;
	height:750px;
	background-color:green;
	margin-right:5%;
}
/************************************************************************/

/*** Footer *************************************************************/
#footer {
	float:left;
	width:100%;
	height:65px;
	background-color:yellow;
}
	
	/* Policy text */
	#footer p {
		float:left;
		margin-left:5%;
		margin-right:10%;
		font-size:20px;
		font-weight:bold;
		font-family:cursive;
	}
	
	/* Bar with privacy and policy options */
	#footer ul {
		list-style-type:none;
		margin:0;
		position:relative;
		top:22px;
	}
	
	#footer li {
		float:left;
		display:inline;
		padding:0;
		margin-left:25px;
		margin-right:25px;
		text-align:center;
	}
	
	/* Unvisited link */
	a:link {
    	color:black;
    	font-size:18px;
		font-weight:bold;
		text-decoration:none;
		letter-spacing:1px;
		color:black;
	}

	/* Visited link */
	a:visited {
    	color:black;
	}

	/* Mouse over link */
	a:hover {
    	color:hotpink;
	}
/************************************************************************/
