
/*** Body ***************************************************************/

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
}

	* {
		box-sizing: border-box;
	}

	.zeroPadding {
		padding: 0em;
	}

/************************************************************************/

/*** Navbar (header) ****************************************************/

#navbar {
	height:12em;
    background-color: rgb(238, 238, 238);
}

	#logo {
		padding: 2.2em 0;
		height: 12em;
	}

	#location {
		height: 6em;
		border-style: none none solid none;
	}

	#location span {
		margin-right: 1em;
	}

	#location strong {
		height: 6em;
		font-size: 3.5em;
	}

	#selectLocation {
		padding-left: 2.6em; 
	}

	/* Header's tittle */
	#navbar h1 {
		margin: 0;
		font-size: 4.5em;
		font-family: cursive;
	}

	#navButtons button {
		float: right;
		width: 50%;
		margin: 0.2em;
	}

	#searchBar {
		margin-top: 1.5em;
	}

/************************************************************************/

/***Wrapper around the side bar and the main content*********************/
#wrapper{
	width: 1024px;
}
/************************************************************************/

/*** Navigation bar *****************************************************/

#navigation {
	float: left;
	width: 204px;
	height: 750px;
	background-color: gray;
}
	
	/* This is the text above the calendar*/
	#datetext{
		margin-top: 1em;
		text-align: center;
	}

	/* Calendar */
	.datepicker-here {
		margin-left: 7px;
		margin-bottom: 2em;
	}

	/* Navigation bar */
	#navBar {
		margin-left: 5%;
	}

/************************************************************************/

/*** Main section with the content **************************************/

#main {
	float: left;
	width: 820px;
	height: 750px;
	background-color: green;
}

	.breadcrumb > li + li:before {
   		color: #CCCCCC;
   		content: "/ ";
   		padding: 0 5px;
	}

	.breadcrumb {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#result1 {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		height: 250px;
		background-color: white;
		margin-top: 30px;
		margin-bottom: 30px;
	}

		.results { 
			float: left;
			background-color: #FFEFD5;
    		width: 30%;
			height: 80%;
			margin-right: 30px;
		}

		.results img {
			width: 100%;
    		height: 100%;
		}

		.results p {
    		float: left;
    		font-weight: bold;
    		color: black;
    		font-size: 18px;
    		margin-top: 15px;
		}

		.results a {
    		float: left;
    		font-weight: bold;
    		color: black;
    		font-size: 18px;
    		margin-top: 15px;
    		margin-left: 140px;
		}

		#result2 {
			margin-left: 5%;
			margin-right: 5%;
			width: 90%;
			height: 250px;
			background-color: white;
			margin-bottom: 30px;
			margin-top: 30px;
		}


/************************************************************************/

/*** Footer *************************************************************/

#footer {
	float: left;
	width: 100%;
	height: 65px;
	background-color: yellow;
}
	
	/* Policy text */
	#footer p {
		float: left;
		margin-left: 5%;
		margin-right: 10%;
		font-size: 20px;
		font-weight: bold;
		font-family: cursive;
		margin-top: 20px;
		color: black;
	}
	
	/* Bar with privacy and policy options */
	#footer ul {
		list-style-type: none;
		margin: 0;
		position: relative;
		top: 22px;
	}
	
	#footer li {
		float: left;
		display: inline;
		padding: 0;
		margin-left: 25px;
		margin-right: 25px;
		text-align: center;
	}
	
	/* Unvisited link */
	a:link {
    	color: black;
    	font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		letter-spacing: 1px;
		color: black;
	}

	/* Visited link */
	a:visited {
    	color: black;
	}

	/* Mouse over link */
	a:hover {
    	color: rgb(35,82,124);
	}

/************************************************************************/
