
/*** Body ***************************************************************/

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
}

	* {
		box-sizing: border-box;
		padding: 0;
	}

	.zeroPadding {
		padding: 0em;
	}

/************************************************************************/

/*** Navbar (header) ****************************************************/

#navbar {
	height:12em;
	background-color: rgb(238, 238, 238);
}

	#logo {
		padding: 2.2em 0;
		height: 12em;
	}

	#logo a {
		margin: 0;
		font-size: 4.5em;
		font-family: cursive;
		padding-top: 0.27em;
	}

	#location {
		height: 6em;
		border-style: none none solid none;
	}

	#location span {
		margin-right: 1em;
	}

	#location strong {
		height: 6em;
		font-size: 3.5em;
	}

	#locationButton {
		padding-top: 1em;
		float: right;
	}

	#navButtons button {
		float: right;
		width: 50%;
		margin: 0.2em;
	}

	#searchBar {
		margin-top: 1.5em;
	}


/************************************************************************/

/***Wrapper around the side bar and the main content*********************/

#wrapper{
	width: 1024px;
}

/************************************************************************/

/*** Navigation bar *****************************************************/

#navigation {
	border-style: solid solid solid none;
	width: 19%;
	height: 75em;
	background-color: rgb(238, 238, 238);
	padding: 0em;
	float: left;
}
	
	/* This is the text above the calendar*/
	#datetext {
		font-size: 1.7em;
		text-align: center;
	}

	.navCategory {
		margin-top: 2em;
		padding-left: 1.5em;
	}

	/* Calendar */
	.datepicker-here {
		padding: 0;
		height: 24em;
	}

/************************************************************************/

/*** Main section with the content **************************************/

#main {
	float: left;
	width: 81%;
	height: 750px;
	background-color: white;
	border-style: solid none solid none;
}

	.breadcrumb > li + li:before {
		color: #CCCCCC;
		content: "/ ";
		padding: 0 5px;
	}

	.breadcrumb {
		margin-top: 30px;
		margin-bottom: 30px;
	}


	#result1 {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		height: 31.25%;
		background-color: white;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	/*** Results as a list ***************************/

		#result1List{
			list-style: none;
			height: 90%;
		}

		#result1List li{
			display: inline;
			float: left;
			margin: 1em;
			width: 30%;
			height: 100%;
		}

		.result1Item{
			background-color: rgb(238, 238, 238);
			border: 1px;
			border-style: groove;
			width: 100%;
			height: 100%;
		}

		.result1Item img {
			border: 1px;
			border-style: solid;
			margin-top: 2%;
			margin-left: 5%;
			margin-right: 5%;
			width: 90%;
			height: 80%;
		}

		.result1Item p{
			font-size: 16px;
			width: 97.5%;
			margin-left: 2.5%;
			margin-top: 5px;
		}

		.result1Item p a{
			font-size: 16px;
			color: rgb(35,82,200);
			text-decoration: underline;
			width: 20%;
			float: right;
			display: inline;
		}

	/*************************************************/

	#result2 {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		height: 31.25%;
		background-color: white;
		margin-bottom: 30px;
		margin-top: 30px;
	}
		
	/*** Results as a list ***************************/

		#result2List {
			list-style: none;
			height: 90%;
		}

		#result2List li {
			display: inline;
			float: left;
			margin: 1em;
			width: 30%;
			height: 100%;
		}

		.result2Item {
			background-color: rgb(238, 238, 238);
			border: 1px;
			border-style: groove;
			width: 100%;
			height: 100%;
		}

		.result2Item img {
			border: 1px;
			border-style: solid;
			margin-top: 2%;
			margin-left: 5%;
			margin-right: 5%;
			width: 90%;
			height: 80%;
		}

		.result2Item p {
			font-size: 16px;
			width: 97.5%;
			margin-left: 2.5%;
			margin-top: 5px;
		}

		.result2Item p a {
			font-size: 16px;
			color: rgb(35,82,200);
			text-decoration: underline;
			width: 20%;
			float: right;
			display: inline;
		}

	/*************************************************/

/************************************************************************/

/*** Footer *************************************************************/

#footer {
	height: 6.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background-color: rgb(238, 238, 238);
}

	#policy {
		padding: 0;
		height: 6.5em;
	}
	
	/* Policy text */
	#policy p {
		float: left;
		font-size: 20px;
		font-weight: bold;
		font-family: cursive;
		color: black;
		margin: 1em 0 0 0;
	}

	/* Bar with privacy and policy options */
	#footer ul {
		list-style-type: none;
		height: 6.5em;
		margin: 0;
		padding: 2em 0 0 0;
	}

	#footLinks {
		padding: 0;
		width: 83%;
	}

	#footLinks li {
		float: left;
		display: inline;
		width: 12%;
	}

	#footLinks li {
		width: 12%;
	}
	
	/* Unvisited link */
	a:link {
		color: black;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		letter-spacing: 1px;
		color: black;
	}

	/* Visited link */
	a:visited {
		color: black;
	}

	/* Mouse over link */
	a:hover {
		color: rgb(35,82,124);
	}

/************************************************************************/